﻿
@model IEnumerable<SacramentMeetingPlanner.Models.Activity>

@{
    ViewData["Title"] = "Agenda Item";
}

<h1 class="form-topper">Agenda Items</h1>
<p>
    <a asp-action="Create">Create an Agenda Item</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EventName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventInfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventFooter)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EventName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventInfo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventFooter)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ActivityID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ActivityID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ActivityID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>